body {
margin: 0;
padding: 0;
text-align: left;
font: 75% arial, tahoma, "Trebuchet MS", verdana, arial, verdana, sans-serif;
min-width:625px;
}

.highlight{
	border:1px solid black;
	background-color:red;
}

.matchHighlight{
	border:1px solid black;
	background-color:yellow;
}

table,td,th{
	background-color:#482D0D;
	border: 1px black;
	overflow:auto;
}

th{
	background-color:#B66417;
	padding:0.5em;
	text-align:center;
	font-weight:bold;
	border-bottom:0.25em solid #482D0D;
	color:white;
}

td{
	background-color:white;
	padding:0.5em;
	text-align:left;
	font-weight:bold;
}

table tr:nth-child(even) td {
    background: #ccc;
}

#loginLinks
{
	float:right;
	display:inline;
	padding:0px;
	margin:0px;
	font-size:1.4em;
}

#headerLinks{
	padding-top:65px; /* centers text in header with image */
}

#container {
width: 100%;
border: 0px solid #eee;
margin-left: auto;
margin-right: auto;
padding: 0;
line-height: 1.5em;
}

#banner {
padding: 0;
margin-bottom: 20px;
background: #fff url(images/image00.jpg) no-repeat;
color: #333;
}

		/* TOP NAVIGATION */
#navlist {
width: 100%;
padding: 0.5em;
margin: 0 0 20px 0;
text-align: left;
letter-spacing: 3px;
color: #fff;
background: #476042;
}
#navlist li {
list-style: none;
margin: 0;
display: inline;
}
#navlist li a {
padding: 5px .75em;
margin: 0;
color: #fff;
background: #476042;
text-decoration: none;
}
#navlist li a:link { color: #fff;
background: #476042;
}
#navlist li a:visited {
color: #fff;
background: #476042;
}
#navlist li a:hover {
color: #000;
background: #6A9662;
}
#navlist li a#current {
color: #fff;
background:#6A9662;
}

		/* LEFT MENU */
.menu ul li {
line-height: 1.8em;
margin: 0 10px 0 0;
padding: 0;
list-style-type: square;
color: #6A9662;
background: inherit;
}
.menu ul li a {
color: #F17C0B;
background: inherit;
}
.menu ul li a:hover {
color: #6A9662;
background: inherit;
}

		/* MAIN CONTENT */
#content {
	width:70%;
padding: 0 1.25em 0 1.25em;
margin-left:13em;
margin-right: 13em;
color: #555;
background-color: #fff;
float:center;
}

		/* ARTICLES */
.intro {
float:left;
width: 25%;
margin: 3px 0 5px 0;
padding: 5px;
text-align:left;
}
.intro2 {
float: left;
width: 25%;
margin: 3px 0 5px 20px;
padding: 5px;
}
.intro3 {
float:right;
width: 33%;
margin: 3px 0 5px 0;
padding: 5px;
}

		/* LEFT SIDEBAR */
#sidebar-a {
height:100%;
float: left;
width:15%;
min-width:13em;
margin-right: 5px;
padding: 0 5px 0 5px;
color: #666;
background-color: #fff;
border-right: 0.01em dashed #333;
}

		/* RIGHT SIDEBAR */
#sidebar-b {
height:100%;
float: right;
width: 15%;
min-width:13em;
margin: 0 0 0 5px;
padding: 0 5px 15px 5px;
color: #333;
background-color:#FAF8E9;
border-left: 0.01em dashed #333;
}

		/* FOOTER */
#footer {
clear: both;
padding: 5px;
margin: 0;
background-color: #476042;
color: #fff;
}
#footer a {
text-decoration: none;
color: #fff;
background-color:#476042;
}
#footer  a:hover {
text-decoration: none;
color: #FE3F22;
background-color:#476042;
}

		/* LINKS */
a {
text-decoration: none;
color: #F17C0B;

}
a:hover {
text-decoration:underline;
color: #666;
}
a img {
border: 0;
}

		/* IMAGE PROPERTIES */
.border {
padding: 10px;
margin: 10px;
border: 1px solid #476042;
}
.imgleft {
float: left;
border: 1px solid #90b905;
margin: 5px 10px 10px 15px;
padding: 5px;
}

		/* HEADING PROPERTIES */
h1 {
width: 30%;
font-size: 200%;
letter-spacing: 1px;
color:#B66417;
background: #fff;
}
h2 {
font-size: 130%;
text-transform: uppercase;
letter-spacing: 2px;
color:#B66417;
background: #fff;
}
h3 {
padding: 5px;
text-transform: uppercase;
font-size: 110%;
color:#482D0D;
background: #9A7141;
}
h4 {
padding: 5px;
text-transform: uppercase;
font-size: 110%;
color:#fff;
background: #B66417;
}